PORT=4000
# Put your MongoDB connection URI here (do NOT commit credentials into git).
# Example: mongodb+srv://<username>:<password>@cluster0.fg9kxnw.mongodb.net/mern_healthcare?retryWrites=true&w=majority
MONGO_URI=
FRONTEND_URL=http://localhost:3000
DASHBOARD_URL=http://localhost:3001
JWT_SECRET_KEY=
JWT_EXPIRES=7d
COOKIE_EXPIRE=7
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=